.header-wrapper {
	@extend %clearfix;
	background-color: $primary-color;
	border-bottom: 2px solid #f00;
}

.header-nav {
	display: inline-block;
	clear: none;
}

.logo-wrapper {
	background-color: #fff;
	display: inline-block;
	max-width: 12%;
}
