@import url(../../../node_modules/font-awesome/css/font-awesome.min.css);
container {
  height: 100%; }

.header-wrapper {
  background-color: #0ff; }

.left {
  float: left;
  clear: right; }

.right {
  float: right;
  clear: left; }

.nav-list-wrapper {
  list-style-type: none; }

.nav-list-item {
  display: block;
  text-decoration: none; }
