@import url(../../../node_modules/font-awesome/css/font-awesome.min.css);
.headshot:after, .logo:after, .header-wrapper:after, .navicon:after {
  content: '';
  display: table;
  clear: both; }

.headshot {
  max-width: 80%; }

.logo {
  width: 100%; }

.left {
  float: left;
  clear: right; }

.right {
  float: right;
  clear: left; }

container {
  height: 100%; }

.header-wrapper {
  background-color: #262626;
  border-bottom: 2px solid #f00; }

.header-nav {
  display: inline-block;
  clear: none; }

.logo-wrapper {
  background-color: #fff;
  display: inline-block;
  max-width: 12%; }

.nav-list-wrapper {
  list-style-type: none; }

.nav-list {
  width: 100%;
  padding-left: 0;
  clear: both; }

.nav-list-item {
  font-size: 2rem;
  display: block;
  text-align: center;
  text-decoration: none; }

.nav-link {
  text-decoration: none; }

.navicon {
  font-size: 3rem; }
